<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- [style.width]="getPorcentaje" -->
                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style=" height:10px;" [style.width]="getPorcentaje1" role="progressbar"></div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-sucess progress-bar-striped active" style=" height:10px;" [style.width]="getPorcentaje2" role="progressbar"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorsalida)="progreso1 = $event" [valor]="progreso1" [btnclass]="'btn btn-primary'"></app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorsalida)="progreso2 = $event" [valor]="progreso2" [btnclass]="'btn btn-info'"></app-incrementador>
            </div>
        </div>
    </div>

</div>